.btn-custom {
    background-color: $secondary-color;
    font-weight: 500;
    color: $main-text-color;

    &:hover {
        color: $secondary-text-color;
        background-color: $secondary-accent;
    }
}

.text-custom-primary {
    color: $main-text-color;
}

.text-custom-secondary {
    color: $secondary-text-color;
}

.bkg-nature {
    background-color: $nature-color;
}

.bkg-fill {
    background-color: $fill-color;
}

.bkg-dark-fill {
    background-color: $dark-fill;
}

.bkg-pale-fill {
    background-color: $pale-fill;
}

.bkg-gradient {
    background: $main-color;
    background-image: radial-gradient(circle at 40% 91%, rgba(251, 251, 251,0.04) 0%, rgba(251, 251, 251,0.04) 50%,rgba(229, 229, 229,0.04) 50%, rgba(229, 229, 229,0.04) 100%),radial-gradient(circle at 66% 97%, rgba(36, 36, 36,0.04) 0%, rgba(36, 36, 36,0.04) 50%,rgba(46, 46, 46,0.04) 50%, rgba(46, 46, 46,0.04) 100%),radial-gradient(circle at 86% 7%, rgba(40, 40, 40,0.04) 0%, rgba(40, 40, 40,0.04) 50%,rgba(200, 200, 200,0.04) 50%, rgba(200, 200, 200,0.04) 100%),radial-gradient(circle at 15% 16%, rgba(99, 99, 99,0.04) 0%, rgba(99, 99, 99,0.04) 50%,rgba(45, 45, 45,0.04) 50%, rgba(45, 45, 45,0.04) 100%),radial-gradient(circle at 75% 99%, rgba(243, 243, 243,0.04) 0%, rgba(243, 243, 243,0.04) 50%,rgba(37, 37, 37,0.04) 50%, rgba(37, 37, 37,0.04) 100%),linear-gradient(90deg, rgb(160,121,85),rgb(73,100,85));
}

.text-achievement {
    color: $main-accent-color;
}

.bkg-achievement {
    background-color: $main-accent-color;
}

.footer-position {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.growth-frame {
    height: 90%;
}

.growth-keeper {
    border: 3px solid $secondary-text-color;
}

.form-box {
    max-width: 800px;
}

.table, .project-confines {
    max-width: 900px;
}

.table {
    --bs-body-bg: $bkg-fill;
    --bs-table-border-color: black;
    --bs-table-color: $main-accent-color;
    td {
        color: $main-accent-color;
    }
}

.project-name {
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.project-preview {
    width: 600px;
    height: 150px;

    @media (max-width: 770px) {
        width: 300px;
        height: 100%;
    }

    .preview-image {
        height: 100%;

        @media(max-width: 770px) {
            height: 150px;
            width: 150px;
            margin: 1em auto 0.5em auto;
        }
    }
}

.border-custom {
    border: 2px solid $main-accent-color;
    border-radius: 5px;
}
