html, body {
    background-color: $main-color;
    margin: 0;
    height: auto;
    @include complex-background;
}

//fix for background displaying improperly on homepage
.home-page {
    height: 100%;
}

#root {
    @include complex-background;
}

.navbar {
    background-color: $secondary-color;

    .navbar-nav .nav-link {
        color: $main-text-color;

        &.active {
            color: $secondary-text-color;
        }
    }
}

#logo {
    height: 42px;
}