html, body {
    background-color: $main-color;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.navbar {
    background-color: $secondary-color;

    .navbar-nav .nav-link {
        color: $main-text-color;

        &.active {
            color: $secondary-text-color;
        }
    }
}

#logo {
    height: 42px;
}