$main-color: rgb(96, 151, 154);
$secondary-color: rgb(203, 175, 108);
$main-accent-color: rgb(252, 228, 151);
$main-text-color: rgb(103, 73, 40);
$secondary-text-color: rgb(62, 40, 25);
$nature-color: rgb(142, 182, 139);