$main-color: rgb(96, 151, 154);
$secondary-color: rgb(203, 175, 108);
$main-accent-color: rgb(252, 228, 151);
$secondary-accent: rgb(184, 153, 93);
$main-text-color: rgb(103, 73, 40);
$secondary-text-color: rgb(62, 40, 25);
$nature-color: rgb(142, 182, 139);
$fill-color: rgb(110, 94, 105);
$dark-fill: #0b5e5e;