$main-color: rgb(160, 121, 85);
$secondary-color: rgb(203, 175, 108);
$main-accent-color: rgb(231, 211, 145);
$secondary-accent: rgb(184, 153, 93);
$main-text-color: rgb(103, 73, 40);
$secondary-text-color: rgb(62, 40, 25);
$nature-color: rgb(136, 180, 127);
$fill-color: rgb(110, 94, 105);
$dark-fill: rgb(43, 95, 86);
$pale-fill: rgb(138, 88, 113);